body {
    /*padding: 20px;*/
}

#video_controls {
    position: relative;
}

#playback_dropdown {
    display: inline;
    margin-right: 4px;
}

#seek_bar {
    display: block;
    width: 640px;
    padding: 10px 0px;
}

#video_header, #video_container {
    text-align: center;
    position: relative;
}

#video_controls {
    text-align: left;
    padding-top: 5px;
}

#youtube_url {
    width: 400px;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

#player_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 640;
    height: 390;
    cursor: pointer;
}

#volume_bar {
    width: 75px;
    display: inline;
    vertical-align: middle;
}

#mute_button {
    border: none !important;
}

button .glyphicon {
    font-size: 1.2em;
}

#total_container {
    display: flex;
}

#main_title {
    text-align: center;
}

#video_choice_form {
    display: inline;
}

#right_container {
    padding: 10px;
}

#current_video {
    display: none;
}

#heatmap_container {
    position: absolute;
    z-index: -100;
}

.heatmap_element {
    position: absolute;
    z-index: -50;
    height: 100%;
}